*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Dandy,Arial,sans-serif;
}

//Head
.subpage-head{
  padding: 20px 0;
  .row{
    @media only screen and (max-width: 576px) {
      text-align: center;
      .col-sm{
        h1{
          font-size: 35px !important;
        }
        p{
          font-size: 16px !important;
        }
      }
    }
    .col-sm{
      h1{
        font-size: 50px;
        font-weight: 700;
        padding: 20px 0;
        color: black;
      }
      p{
        color: black;
        font-size: 19px;
      }
    }
  }
}

//<!--Benefits-->
.benefits{
  padding: 20px 0 40px 0;
  margin-top: 20px;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  h6{
    color: black;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .row{
    .col-md{
      .icon{
        padding: 10px 0;
      }
      .details{
        h1{
          color: black;
          font-size: 28px;
          font-weight: bold;
          padding: 5px 0 10px 0;
        }
        p{
          font-size: 18px;
          color: black;
          padding-bottom: 20px;
          margin-bottom: 20px;
          font-weight: normal;
        }
      }
    }
  }
}
//
.Detail-advantages{
  background-color: #efedeb;
  padding: 25px 0 50px 0;
  .row{
    .col-12{
      padding: 20px 0;
      @media only screen and (max-width: 768px) {
        h1,p{
          text-align: center;
        }
      }
      h1{
        font-size: 25px;
        font-weight: 700;
        color: black;
      }
      p{
        font-size: 18px;
        color: black;
        font-weight: 400;
      }
    }
  }
}



//Time To Get
.time{
  background-color: #f5b864;
  padding: 20px 0;
  h1{
    padding: 20px 0;
    margin-top: 30px;
    font-size: 50px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p{
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 65%;
    padding: 0 0 20px 0;
    color: #000;
  }
  a{
    background-color: black !important;
    color: #efedeb ;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black !important;
    padding: 10px 28px;
    transition: all 0.3s;
    margin-bottom: 10px;
    margin-top: 25px;
    box-shadow: none !important;
    &:hover{
      background-color: white  !important;
      color: black !important;
    }
  }
}