*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Dandy,Arial,sans-serif;
}


//Loader
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;   /******** <- Remove this line *********/
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}



//Our Recommendation
.our-recom{
  padding: 20px 0 0 ;
  .row{
    .col-md-7{
        padding: 20px 0;
        margin-bottom: 20px;
        h1{
          font-size: 25px;
          color: black;
          margin-top: 20px;
          margin-bottom: 60px;
          font-weight: bold;
        }
        p{
          @media only screen and (max-width: 768px) {
            font-size: 30px !important;
          }
          font-size: 50px;
          color: #1285ac;
          font-weight: bold;
          letter-spacing: -0.08rem;
          line-height: 60px;
        }
    }
  }
  .marque-portion{
    padding: 20px 0;
    margin-bottom: 20px;
    marquee{
      span{
        font-weight: 500;
        font-size: 18px;
        padding: 5px 20px;
        margin-right: 20px;
      }
    }
  }
  .row{
    .col-md{
      .dog-name{
        @media only screen and (max-width: 768px) {
          left: 10px !important;
        }
        position: relative;
        left: 80px;
        border: none;
        outline: none;
        padding: 8px 18px;
        font-size: 25px;
        font-weight: bold;
        background-color: #f8d468;
      }
      }
    }
  }

//Daily Treat
.daily-treat{
  padding: 20px 0;
  background-color: #f8d468;
  h3{
    font-size: 25px;
    padding: 20px 0;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .row{
    margin-bottom: 20px;
    .col-md{
      margin-top: 15px;
      padding: 20px 10px;
      background-color: white;
      margin-right: 10px;
      border: 3px solid #1285ac;
      h6{
        font-size: 16px;
        padding: 10px 0;
        font-weight: bold;
      }
      p{
        padding: 10px 0 5px 0;
        font-size: 15px;
        color: black;
      }
      .model-open{
        color: #000;
        background-color: #efedeb;
        border: 1px solid #efedeb;
        outline: none;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 12px;
        box-shadow: none !important;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover{
          background-color: black !important;
          color: white !important;
        }
      }
      .modal{
        .modal-dialog{
          //width: 80% !important;
        }
        .modal-content{
          .row{
            .col-sm{
              border-top: 1px solid black;
              margin-top: 10px;
              margin-right: 10px;
              h4{
                font-size: 18px;
                padding: 5px 0;
              }
              p{
                font-size: 14px;
                padding: 10px 0 5px 0;
                color: black;
                font-weight: 500;
              }
              button{
                background-color: black !important;
                color: #efedeb;
                font-size: 12px;
                font-weight: bold;
                border: 1px solid black;
                padding: 8px 15px;
                transition: all 0.3s;
                margin-bottom: 40px;
                box-shadow: none !important;
                &:hover{
                  background-color: #efedeb !important;
                  color: black !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .get-pack{
    margin: 20px 0 10px 0;
    padding: 20px 0;
    a{
      background-color: black !important;
      color: white !important;
      border-color: black;
      font-size: 20px;
      font-weight: bold;
      padding: 15px 80px;
      margin-top: 15px;
      margin-bottom: 20px;
      transition: all 0.3s;
      box-shadow: none !important;
      &:hover{
        background-color: white !important;
        color: black !important;
      }
    }
  }
}

//All-about
.all-about{
  padding: 30px 0 20px 0;
  h6{
    margin-top: 20px;
    padding: 30px 0;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 45px;
    color: #1285ac;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 10px 0 20px 0;
  }
  .row{
    .col-md{
      @media only screen and (max-width: 768px) {
        border: none !important;
      }
      margin-bottom: 50px;
      padding: 10px;
      border-right: 2px solid black;
      &:first-child{
        border-left: 2px solid black;
      }
      h5{
        padding: 15px 0 ;
        font-size: 14px;
        color: #1285ac;
        font-weight: bold;
      }
      h3{
        font-size: 25px;
        font-weight: bold;
        padding: 15px 0 10px 0;
      }
    }
    .col-sm-8{
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 20px 0;
      p{
        color: black;
        font-size: 18px;
      }
    }
  }
}



//Slider Met
.slider-met{
  background-color: #efedeb;
  padding: 20px 0;
  @media only screen and (max-width: 768px) {
    text-align: center;
    p{
      width: 100% !important;
    }
  }
  .carousel-control-prev,.carousel-control-next{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
    i{
      color: grey;
      font-weight: lighter;
    }
  }
  h6{
    margin-top: 20px;
    padding: 30px 0;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .row{
    padding: 20px 0 40px 0;
    margin-bottom: 20px;
    .col-md-7{
      h4{
        font-size: 25px;
        padding: 20px 0 0 ;
        font-weight: bold;
      }
      .rating-stars{
        color: #efce4a;
      }
      p{
        font-size: 18px;
        padding: 20px 0;
        width: 80%;
        text-align: justify;
      }
    }
  }
}



//Time To Get
.time{
  background-color: #f5b864;
  padding: 20px 0;
  h1{
    padding: 20px 0;
    margin-top: 30px;
    font-size: 50px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
  }
  p{
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 65%;
    padding: 0 0 20px 0;
    color: #000;
  }
  a{
    background-color: black !important;
    color: #efedeb ;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black !important;
    padding: 10px 28px;
    transition: all 0.3s;
    margin-bottom: 10px;
    margin-top: 25px;
    box-shadow: none !important;
    &:hover{
      background-color: white  !important;
      color: black !important;
    }
  }
}
